PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
API_DEBUG=true
API_DEFAULT_QUEUE_NAME=default
API_PRIORITY_QUEUE_NAME=priority
API_REDIS_HOST=redis
API_REDIS_PORT=6379
API_REDIS_DB=0
API_REDIS_DEFAULT_TIMEOUT=360
API_INFERNET_KEY=xxx